{
    "create_parents": false,
    "credentials": {
        "interactive_session": false,
        "password": "{{ ansible_ssh_pass }}",
        "type": "USERNAME_PASSWORD",
        "user_name": "{{ ansible_ssh_user }}"
    },
    "path": "/home/it-administrator/example"
}
